<head>
    <style>
        body {
            background: url("http://www.lunaartdesign.com/wp-content/uploads/2018/01/blog-featured-img-3.jpg");
            background-repeat: no-repeat;
            background-size: 100vw;
            background-attachment: fixed;
        }
    </style>
</head>
@model ProjectManagement.Models.ProjectDetailsViewModel

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-white">Delete</h2>

<h3 class="text-white">Are you sure you want to delete this?</h3>
<div>
    <h4 class="text-white">ProjectDetailsViewModel</h4>
    <hr />
    <section class="landing bg-white">
        <div class="container">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.users)
                </dt>
                <dd class="col-sm-9">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Confirmed</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.users)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.role)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.confirmed)
                                </td>
                            </tr>
                        }
                    </table>
                </dd>
            </dl>
        </div>
    </section>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
