@model ProjectManagement.Models.ProjectDetailsViewModel

@{
    ViewBag.Title = "Project Details";
}

    <h2 class="text-white">Project Details</h2>

<div class="bg-white rounded">
    <br />
    <section class="landing">
        <div class="container">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.users)
                </dt>
                <dd class="col-sm-9">
                    <table class="table table-hover bg-light">
                        <thead class="thead-dark">
                            <tr>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Confirmed</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.users)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.role)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.confirmed)
                                </td>
                            </tr>
                        }
                    </table>
                </dd>
            </dl>
        </div>
    </section>
</div>
<p>
    @if (Model.editable)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { role = "button", @class = "btn btn-light" })
        <span>|</span>
        @Html.ActionLink("Delete", "Delete", new { id = Model.id }, new { role = "button", @class = "btn btn-light" })
    }
</p>
