@model IEnumerable<ProjectManagement.Models.ProjectIndexViewModel>


<style>
    .projectWindow {
        width: 306px;
        border-radius: 5px;
        overflow: hidden;
        display: inline-block;
        margin: 0 2vw 20px 2vw;
    }

    .projectDescription {
        background-color: #FFFFFF;
        padding: 10px;
        border: 1px solid #CDCDCD;
    }

    .projectTitle {
        color: #000000;
    }

    .userName {
        color: #000000;
    }
</style>
<h2 class="text-white">User Details</h2>
<div class="bg-white rounded">
    <br />
    <section class="landing">
        <div class="container">
            <dl class="row">
                <dt class="col-sm-6" style="text-align:right">
                    UserName
                </dt>
                <dd class="col-sm-6">
                    @ViewBag.Username
                </dd>
                <dt class="col-sm-6" style="text-align:right">
                    Email
                </dt>
                <dd class="col-sm-6">
                    @ViewBag.Email
                </dd>
                <dt class="col-sm-6" style="text-align:right">
                    Total Projects
                </dt>
                <dd class="col-sm-6">
                    @ViewBag.ProjectsCount
                </dd>
            </dl>
        </div>
    </section>
</div>
<h2 class="text-white">Showcase</h2>
<div style="height:auto">
    @foreach (var item in Model)
    {
        <div class="projectWindow">
            <img style="width:100%" src="~/img/bg_img1.jpg" />
            <div class="projectDescription">
                <strong>
                    <a class="projectTitle" href="#"><b>@Html.DisplayFor(modelItem => item.name)</b></a>
                </strong>
                <span>by</span><br />
                <strong>
                    <a class="userName" href="/Project/viewProfile?email=@Html.DisplayFor(modelItem => item.admin)">@Html.DisplayFor(modelItem => item.admin)</a>
                </strong>
                @if (item.editable)
                {
                    <br />
                    <br />
                    @Html.ActionLink("Manage", "Details", new { id = item.id }, new { @class = "userName" })
                }
                else
                {
                    <br />
                    <br />
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "userName" })
                }
            </div>
        </div>
    }
</div>

