@model ProjectManagement.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4 class="text-white">Change your account settings</h4>
    <hr />
    <div class="bg-white rounded">
        <br />
        <section class="landing">
            <div class="container">
                <dl class="row">
                    <dt class="col-sm-6" style="text-align:right">
                        Email
                    </dt>
                    <dd class="col-sm-6">
                        @ViewBag.Email
                    </dd>
                    <dt class="col-sm-6" style="text-align:right">
                        UserName
                    </dt>
                    <dd class="col-sm-6">
                        @ViewBag.Username
                        [
                        @Html.ActionLink("Change your Username", "EditUsername")
                        ]
                    </dd>
                    <dt class="col-sm-6" style="text-align:right">
                        Password
                    </dt>
                    <dd class="col-sm-6">
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        ]
                    </dd>
                </dl>
            </div>
        </section>
    </div>
    </div>
