@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (ProjectManagement.Utilities.Notifications.getUnreadCount() > 0)
            {
                <a class="nav-link" href="@Url.Action("Index", "Manage")"><span class="badge badge-pill badge-primary">@ProjectManagement.Utilities.Notifications.getUnreadCount()</span>@ProjectManagement.Utilities.MailUtility.getUserFromEmail(ProjectManagement.Utilities.MailUtility.getCurrentEmail()).UserName</a>
            }
            else
            {
                <a class="nav-link" href="@Url.Action("Index", "Manage")">@ProjectManagement.Utilities.MailUtility.getUserFromEmail(ProjectManagement.Utilities.MailUtility.getCurrentEmail()).UserName</a>
            }
        </li>
        <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        <li>@Html.ActionLink("My Projects", "Index", new { controller = "Project" }, new { hidefocus = "hidefocus", @class = "nav-link" })</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class= "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class= "nav-link" })</li>
    </ul>
}
